---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
IncludeBlocks: Merge
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
InsertBraces: true
PointerAlignment: Right
ReflowComments: true
SortIncludes: CaseInsensitive
SpacesInParentheses: false
UseTab: Never
